.vehicle-group {
    margin-bottom: 20px;
}

.vehicle-group table {
    width: 100%;
    border-collapse: collapse;
}

.vehicle-group th, .vehicle-group td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.vehicle-group th {
    background-color: #fdfdfd;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 8px;
    text-align: left;
  }
  
  .custom-cell {
    margin: 0;
  }
